<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fissioner</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="img/fissioner-favicon.png">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch|Josefin+Sans|PT+Sans+Narrow|Yanone+Kaffeesatz" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <nav id="menu" data-aos='fade-in' data-aos-delay='1000'>
        <div>
            <a class=menu-option href="#tech">Tech</a>
            <a class=menu-option href="#examples">Examples</a>
            <a class=menu-option href="#certs">Certs</a>
            <a class=menu-option href="#about">About</a>
            <a class=menu-option href="#contact">Contact</a>

        </div>
    </nav>
    <div id="intro">
        <div id=F class="title">F</div>
        <div id=Ia class="title">I</div>
        <div id=Sa class="title">S</div>
        <div id=Sb class="title">S</div>
        <div id=Ib class="title">I</div>
        <div id=O class="title">O</div>
        <div id=N class="title">N</div>
        <div id=E class="title">E</div>
        <div id=R class="title">R</div>
    </div>
    <section id=tech>
        <h1 class="section white">Build Anything</h1>
        <div class="container">
            <div class="row">
                <div class="col-sm" data-aos='flip-up'>
                    <i class="fab fa-html5"></i>
                </div>
                <div class="col-sm" data-aos='flip-down'>
                    <i class="fab fa-css3-alt"></i>
                </div>
                <div class="col-sm" data-aos='flip-up'>B</div>
                <div class="col-sm" data-aos='flip-down'>
                    <i class="fab fa-sass"></i>
                </div>
                <div class="col-sm" data-aos='flip-up'>
                    <i class="fab fa-js"></i>
                </div>
            </div>
            <div class="row" data-aos=zoom-out>
                <div class="col-sm" data-aos='flip-down'>jQ</div>
                <div class="col-sm" data-aos='flip-up'><i class="fab fa-react"></i></div>
                <div class="col-sm" data-aos='flip-down'><i class="fab fa-node-js"></i></div>
                <div class="col-sm" data-aos='flip-up'><i class="fab fa-npm"></i></div>
                <div class="col-sm" data-aos='flip-down'>
                    <i class="fab fa-gulp"></i>
                </div>
            </div>
        </div>
    </section>
    <section id="examples">
        <h1 class="section black">For Instance</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-6"><a href="http://valeriekrealty.com" target='_blank'><img data-aos=slide-left
                            class='img-flex img-thumbnail' src="img/valeriekrealty.png" alt="valeriekrealy.com"></a></div>
                <div class="col-md-6"><a href="http://flowergnome.com" target='_blank'><img data-aos=slide-right class='img-flex img-thumbnail'
                            src="img/flowergnome.png" alt="flowergnome.com"></a></div>
            </div>
            <div class="row">
                <div class="col-md-6"><a href="https://codepen.io/Fissioner/full/NMWGwy/" target='_blank'><img data-aos=slide-left
                            class='img-flex img-thumbnail' src="img/copycat.png" alt="Copy cat game."></a></div>
                <div class="col-md-6"><a href="https://codepen.io/Fissioner/full/geKKJv/" target='_blank'><img data-aos=slide-right
                            class='img-flex img-thumbnail' src="img/tic-tac-toe.png" alt="Tic-tac-toe game."></a></div>
            </div>
            <div class="row">
                <div class="col-md-6"><a href="https://codepen.io/Fissioner/full/BPGZmJ/" target='_blank'><img data-aos=slide-left
                            class='img-flex img-thumbnail' src="img/markdownpreviewer.png" alt="Markdown previewer."></a></div>
                <div class="col-md-6"><a href="https://codepen.io/Fissioner/full/ddMawd/" target='_blank'><img data-aos=slide-right
                            class='img-flex img-thumbnail' src="img/wikimp.png" alt="Wikimp wikipedia search."></a></div>
            </div>
            <div class="row">
                <div class="col-md-6"><a href="https://codepen.io/Fissioner/full/wxNXZa/" target='_blank'><img data-aos=slide-left
                            class='img-flex img-thumbnail' src="img/8-bitfighter.png" alt="8-bit fighter soundboard."></a></div>
                <div class="col-md-6"><a href="https://codepen.io/Fissioner/full/QQQKXq/" target='_blank'><img data-aos=slide-right
                            class='img-flex img-thumbnail' src="img/betwitched.png" alt="Betwitched Twitch channel status viewer."></a></div>
            </div>
            <div class="row">
                <div class="col-md-6"><a href="https://codepen.io/Fissioner/full/NYYjvo/" target='_blank'><img data-aos=slide-left
                            class='img-flex img-thumbnail' src="img/calc.png" alt="Calc-O-matic basic arithmetic calculator."></a></div>
                <div class="col-md-6"><a href="https://codepen.io/Fissioner/full/QmpMWG/" target='_blank'><img data-aos=slide-right
                            class='img-flex img-thumbnail' src="img/primegenerator.png" alt="Prime number generator."></a></div>
            </div>
            <div class="row">
                <div class="col-md-6"><a href="https://codepen.io/Fissioner/full/QQXGZd/" target='_blank'><img data-aos=slide-left
                            class='img-flex img-thumbnail' src="img/romnumconverter.png" alt="Roman numeral converter."></a></div>
                <div class="col-md-6"><a href="https://codepen.io/Fissioner/full/RQPmEb/" target='_blank'><img data-aos=slide-right
                            class='img-flex img-thumbnail' src="img/oracleofages.png" alt="Oracle of the Ages random quote generator."></a></div>
            </div>
            <div class="row">
                <div class="col-md-6"><a href="https://codepen.io/Fissioner/full/BrrXyz/" target='_blank'><img data-aos=slide-left
                            class='img-flex img-thumbnail' src="img/tomatoclock.png" alt="Tomato Clock - pomodoro clock."></a></div>
                <div class="col-md-6"><a href="https://codepen.io/Fissioner/full/yKNBex/" target='_blank'><img data-aos=slide-right
                            class='img-flex img-thumbnail' src="img/pigifytranslator.png" alt="Pigify Translator - pig latin translator."></a></div>
            </div>
        </div>
    </section>
    <section id=certs>
        <h1 class="section white">Certs</h1>
        <div class="container">
            <div class="row">

                <div class="col-sm-12" data-aos=fade-down>
                    <a target=_blank href="https://www.freecodecamp.org/certification/fissioner/legacy-front-end"><img
                            src="img/front-end-dev-cert.png" alt="" class="img-fluid img-thumbnail"></a></div>
            </div>
            <div class="row">
                <div class="col-sm-6" data-aos=fade-up>
                    <a target=_blank href="https://www.freecodecamp.org/certification/fissioner/javascript-algorithms-and-data-structures">
                        <img src="img/libraries-cert.png" alt="" class="img-fluid img-thumbnail">
                    </a>
                </div>
                <div class="col-sm-6" data-aos=fade-up>
                    <a target=_blank href="https://www.freecodecamp.org/certification/fissioner/front-end-libraries">
                        <img src="img/algorithms-cert.png" alt="" class="img-fluid img-thumbnail">
                    </a>
                </div>
            </div>
            <div id=mcsd class=text-center>Micrsosoft Certified Solutions Developer <span id=soon>Coming Soon</span></h3>
            </div>
    </section>
    <section id="about">
        <h1 class="section black">About</h1>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    The word fission  \ˈfizhᵊn\ has significance in both particle physics and biological contexts, from the segregation of nuclear subatomic particles to the nascence of derivative organisms. My diverse experience and skills seem to play well into a fission-like approach of reducing my environment into its subcomponents and reassembling them into novel solutions. My formal education at the University of Utah was in the natural sciences and included courses ranging from quantum mechanics and relativity to bioengineering. My studies led me beyond science and engineering to even linguistics and entrepreneurship. Although I have a chemistry degree I don’t solely identify myself by it. My previous professional titles include scientist, engineer, designer, and interpreter and now my current focus is computer engineering. </br></br> I look forward to presenting more projects here soon.</br>-Derek Thornton, aka Fissioner	
                    </br></br>
                    <blockquote class='blockquote text-center'>
                        <p class="mb-0">"My satisfaction comes from the increasing sentiment of being able to create
                            anything that I can conceive."</p>
                    </blockquote>
                </div>

            </div>

        </div>
    </section>
    <section id="contact">
        <div class="container">
            <h1 class="section white">Contact</h1>
            <div id="sent">{{msg}}</div>
            <form class=form-group method=POST action="/sent" data-aos='zoom-out'>
                <div class="form-row">
                    <div class="col-md-6">
                        <label for="inputFirstName">First Name <span class=required>*</span></label>
                        <input class="form-control" type=text name=firstName placeholder='Elon' required></div>
                    <div class="col-md-6">
                        <label for="inputLastName">Last Name <span class=required>*</span></label>
                        <input class="form-control" type=text name=lastName placeholder="Musk" required></div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <label for="inputEmail">Email <span class=required>*</span></label>
                        <input class="form-control" type='email' name=email placeholder="elon@email.com" required></div>
                    <div class="col-md-6">
                        <label for="inputPhone">Phone <span class=required>*</span></label>
                        <input class="form-control" type="tel" pattern='^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$' name=phone placeholder='(999) 999-9999' required></div>
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <label for="inputCompany">Company</label>
                        <input class="form-control" type=text name=company placeholder='Boring'>
                    </div>
                    <div class="col-md-12">
                        <label for="Message">Message</label>
                        <textarea class="form-control" rows=5 name=message placeholder='Enter your message here.'></textarea>
                    </div>
                    <button class="btn btn-secondary btn-block" type="submit">Send</button>
                </div>

            </form>
        </div>
    </section>
    <footer id=connect>
        <div class="container">
            <div class="row">
                <div class="col-md">
                  <a class='connect' target='_blank' href="https://www.freecodecamp.org/fissioner">  <i class="foot fab fa-free-code-camp"></i></a>
                </div>
                <div class="col-md">
                    <a class='connect' target='_blank' href="https://www.linkedin.com/in/derekchemistry"><i class="foot fab fa-linkedin"></i>
                </a></div>
                <div class="col-md">
                    <a class='connect' target='_blank' href="https://github.com/fissioner"><i class="foot fab fa-github"></i>
                </a></div>
               <div class="col-md">
                    <a class='connect' target='_blank' href="https://stackoverflow.com/users/10516488/fissioner"><i class="foot fab fa-stack-overflow"></i>
                </a></div>
            </div>
        </div>
        <div id='copy'>fissioner.net © 2018 - Coded by <a href="http://fissioner.net" class='crimson fissioner'>Fissioner</a></div>
    </footer>
    <script src="https://unpkg.com/aos@2.3.0/dist/aos.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script>AOS.init({
        })
        $(document).ready(function () {
                if ($(window).width() <= 800) {
                    $('[data-aos]').removeAttr('data-aos');
                }
            $('#sent').hide();
        });
        if (document.getElementById('sent').innerHTML !== '') {
            history.replaceState(null, null, '#contact')
            $(document).ready(function () {
                $('form').hide();
                $('#sent').show();
            });
        }
    </script>
</body>

</html>